<nav class="nav_wrapper">
    <h1><a routerLink="/">🏠 Home</a></h1>
    @if (user$ | async; as user) {
        <div class="nav_list">
            <a routerLink="/product-list">Products</a>

        </div>
    }



    <div class="right_options">
        @if (user$ | async; as user) {

            <span class="user-info">👤 {{ user.first_name }} {{ user.last_name }}</span>
            <button (click)="logout()">Logout</button>
        } @else {
            <div class="nav_list">
                <a routerLink="/login">Login</a>
                <a routerLink="/register">Register</a>
            </div>

        }
    </div>
</nav>
