.toolbar {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}
